    <div id="graficas" class="display:flex">

        <div class="flex justify-center w-11/12 border-b-4">
            <div class="col-sm-12 col-md-3">
                <input type="date" class="peque" id="fecha" [(ngModel)]="finicio" />
            </div>
            <div class="col-sm-12 col-md-3">
                <input type="date" class="peque" id="fecha" [(ngModel)]="ffin" />
            </div>
        </div>
        <br>
        <div class="justify-center w-11/12 border-b-4" id="imprimirreporte">
            <p></p>
            <div class="col-12">
                <div class="card">
                    <div class="card-body">
                        <table class="table w-11/12 table-fixed table-hover table-responsive-md" id="excel-table">
                            <thead>
                                <tr class="table-dark">
                                    <th colspan="6" class="text-center">
                                        REPORTE DE INCIDENCIAS DEL {{finicio}} AL {{ffin}}
                                    </th>
                                </tr>
                                <tr class="table-dark">
                                    <th>Nº</th>
                                    <th>INCIDENCIA</th>
                                    <th>SECTOR 1</th>
                                    <th>SECTOR 2</th>
                                    <th>SECTOR 3</th>
                                    <th>TOTAL</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let item of listar; let i = index">
                                    <th>{{i+1}}</th>
                                    <td class="incidencia">{{item.incidencia}}</td>
                                    <td>{{item.sector1}}</td>
                                    <td>{{item.sector2}}</td>
                                    <td>{{item.sector3}}</td>
                                    <td>{{item.sector3 + item.sector2 + item.sector1}}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <div class="flex mt-4">
            <div class="col-sm-12 col-md-4">
                <button class="px-8 mx-2" mat-flat-button [color]="'warn'" type="button"
                    routerLink='/example'><i class="fas fa-car"></i> SALIR</button>
            </div>
            <div class="col-sm-12 col-md-4">
                <button class="px-8 mx-2" mat-flat-button [color]="'primary'" type="button" (click)="createPDF()"><i
                        class="fas fa-download"></i> DESCARGAR PDF</button>
            </div>
            <div class="col-sm-12 col-md-4">
                <button class="px-8 mx-2 bg-green-600" mat-flat-button [color]="'secondary'" type="button" (click)="exportexcel()"><i
                        class="fas fa-file-excel"></i> DESCARGAR EXCEL</button>
            </div>
        </div>
    </div>
