<div class="flex flex-col items-center flex-auto min-w-0 sm:flex-row md:items-start sm:justify-center md:justify-start">
    <div class="w-full px-4 py-8 md:flex md:items-center md:justify-end sm:w-auto md:h-full md:w-1/2 sm:p-12 md:p-16 sm:rounded-2xl md:rounded-none sm:shadow md:shadow-none sm:bg-card">
        <div class="w-full mx-auto max-w-80 sm:w-80 sm:mx-0">
            <!-- Logo -->
            <div class="w-16 ml-auto mr-auto">
                <img src="assets/img/logo.png">
            </div>

            <!-- Title -->
            <div class="mt-8 text-4xl font-extrabold leading-tight tracking-tight">Inicio de sesión</div>
            <div class="flex items-baseline mt-0.5 font-medium">
                <div>Aun no tienes una cuenta?</div>
                <a
                    class="ml-1 text-primary-500 hover:underline"
                    [routerLink]="['/sign-up']">Ingrese aquí
                </a>
            </div>

            <!-- Alert -->
            <fuse-alert
                class="mt-8 -mb-4"
                *ngIf="showAlert"
                [appearance]="'outline'"
                [showIcon]="false"
                [type]="alert.type"
                [@shake]="alert.type === 'error'">
                {{alert.message}}
            </fuse-alert>

            <!-- Sign in form -->
            <form
                class="mt-8"
                [formGroup]="signInForm"
                #signInNgForm="ngForm">

                <!-- Email field -->
                <mat-form-field class="w-full">
                    <mat-label>correo</mat-label>
                    <input
                        id="usernameOrEmail"
                        matInput
                        [formControlName]="'usernameOrEmail'">
                    <mat-error *ngIf="signInForm.get('usernameOrEmail').hasError('required')">
                        Dirección de correo es requerido
                    </mat-error>
                    <mat-error *ngIf="signInForm.get('usernameOrEmail').hasError('usernameOrEmail')">
                        Ingrese un correo valido
                    </mat-error>
                </mat-form-field>

                <!-- Password field -->
                <mat-form-field class="w-full">
                    <mat-label>Contraseña</mat-label>
                    <input
                        id="password"
                        matInput
                        type="password"
                        [formControlName]="'password'"
                        #passwordField>
                    <button
                        mat-icon-button
                        type="button"
                        (click)="passwordField.type === 'password' ? passwordField.type = 'text' : passwordField.type = 'password'"
                        matSuffix>
                        <mat-icon
                            class="icon-size-5"
                            *ngIf="passwordField.type === 'password'"
                            [svgIcon]="'heroicons_solid:eye'"></mat-icon>
                        <mat-icon
                            class="icon-size-5"
                            *ngIf="passwordField.type === 'text'"
                            [svgIcon]="'heroicons_solid:eye-off'"></mat-icon>
                    </button>
                    <mat-error>
                        Contraseña es requerida
                    </mat-error>
                </mat-form-field>

                <!-- Actions -->
                <div class="inline-flex items-end justify-between w-full mt-1.5">
                    <mat-checkbox
                        [color]="'primary'"
                        [formControlName]="'rememberMe'">
                        Recordar
                    </mat-checkbox>
                    <a
                        class="font-medium text-md text-primary-500 hover:underline"
                        [routerLink]="['/forgot-password']">Olvidaste tu contraseña??
                    </a>
                </div>

                <!-- Submit button -->
                <button
                    class="w-full mt-6 fuse-mat-button-large"
                    mat-flat-button
                    [color]="'primary'"
                    [disabled]="signInForm.disabled"
                    (click)="signIn()">
                    <span *ngIf="!signInForm.disabled">
                        INGRESAR
                    </span>
                    <mat-progress-spinner
                        *ngIf="signInForm.disabled"
                        [diameter]="24"
                        [mode]="'indeterminate'"></mat-progress-spinner>
                </button>

                <!-- Separator -->
                <div class="flex items-center mt-8">
                    <div class="flex-auto mt-px border-t"></div>
                    <div class="mx-2 text-secondary">Nuestras redes sociales</div>
                    <div class="flex-auto mt-px border-t"></div>
                </div>

                <!-- Single sign-on buttons -->
                <div class="flex items-center mt-8 space-x-4">
                    <button
                        class="flex-auto"
                        type="button"
                        mat-stroked-button>
                        <mat-icon
                            class="icon-size-5"
                            [svgIcon]="'feather:facebook'"></mat-icon>
                    </button>
                    <button
                        class="flex-auto"
                        type="button"
                        mat-stroked-button>
                        <mat-icon
                            class="icon-size-5"
                            [svgIcon]="'feather:twitter'"></mat-icon>
                    </button>
                    <button
                        class="flex-auto"
                        type="button"
                        mat-stroked-button>
                        <mat-icon
                            class="icon-size-5"
                            [svgIcon]="'feather:github'"></mat-icon>
                    </button>
                </div>
            </form>
        </div>
    </div>
    <div class="relative items-center justify-center flex-auto hidden w-1/2 h-full p-16 overflow-hidden bg-gray-800 md:flex lg:px-28 dark:border-l">
        <!-- Background - @formatter:off -->
        <!-- Rings -->
        <svg class="absolute inset-0 pointer-events-none"
             viewBox="0 0 960 540" width="100%" height="100%" preserveAspectRatio="xMidYMax slice" xmlns="http://www.w3.org/2000/svg">
            <g class="text-gray-700 opacity-25" fill="none" stroke="currentColor" stroke-width="100">
                <circle r="234" cx="196" cy="23"></circle>
                <circle r="234" cx="790" cy="491"></circle>
            </g>
        </svg>
        <!-- Dots -->
        <svg class="absolute text-gray-700 -top-16 -right-16"
             viewBox="0 0 220 192" width="220" height="192" fill="none">
            <defs>
                <pattern id="837c3e70-6c3a-44e6-8854-cc48c737b659" x="0" y="0" width="20" height="20" patternUnits="userSpaceOnUse">
                    <rect x="0" y="0" width="4" height="4" fill="currentColor"></rect>
                </pattern>
            </defs>
            <rect width="220" height="192" fill="url(#837c3e70-6c3a-44e6-8854-cc48c737b659)"></rect>
        </svg>
        <!-- @formatter:on -->
        <!-- Content -->
        <div class="relative z-10 w-full max-w-2xl">
            <div class="font-bold leading-none text-gray-100 text-7xl">
                <div>BIENVENIDOS</div>
                <div>SISTEMA DE ACTAS DIGITALES</div>
            </div>
            <div class="mt-6 text-lg leading-6 tracking-tight text-gray-400">
                Municipalidad Distrital de Andrés Avelino Cáceres Dorregaray
            <div class="flex items-center mt-8">
                <div class="flex flex-0 items-center -space-x-1.5">
                    <img
                        class="object-cover w-10 h-10 rounded-full flex-0 ring-4 ring-offset-1 ring-gray-800 ring-offset-gray-800"
                        src="assets/images/avatars/female-18.jpg">
                    <img
                        class="object-cover w-10 h-10 rounded-full flex-0 ring-4 ring-offset-1 ring-gray-800 ring-offset-gray-800"
                        src="assets/images/avatars/female-11.jpg">
                    <img
                        class="object-cover w-10 h-10 rounded-full flex-0 ring-4 ring-offset-1 ring-gray-800 ring-offset-gray-800"
                        src="assets/images/avatars/male-09.jpg">
                    <img
                        class="object-cover w-10 h-10 rounded-full flex-0 ring-4 ring-offset-1 ring-gray-800 ring-offset-gray-800"
                        src="assets/images/avatars/male-16.jpg">
                </div>
                <div class="ml-4 font-medium tracking-tight text-gray-400">Nuestros usuarios</div>
            </div>
        </div>
    </div>
</div>
