<div class="flex-auto pt-4 -mt-px border-t sm:pt-6">
    <div class="w-full max-w-screen-xl mx-auto">
        <!-- Tabs -->
        <mat-tab-group class="sm:px-2" [animationDuration]="'0'">
            <!-- Budget -->
            <mat-tab label="LISTA DE USUARIOS">
                <ng-template matTabContent>
                    <div class="grid w-full min-w-0" style="grid-template-columns: 50% 40% 5% 5%;">
                            <div class="font-medium leading-5 truncate">DAVID SULCA GARCÍA</div>
                            <div class="leading-5 truncate mx-9 text-secondary">GERENTE DE AREA DE SISTEMAS</div>
                            <mat-icon svgIcon="heroicons_outline:pencil"  class="justify-center text-blue-600 cursor-pointer"></mat-icon>
                            <mat-icon svgIcon="heroicons_outline:trash" class="justify-center text-red-600 cursor-pointer"></mat-icon>

                            <div class="font-medium leading-5 truncate">JULIO MENDOZA GALINDO</div>
                            <div class="leading-5 truncate mx-9 text-secondary">SERENO 1</div>
                            <mat-icon svgIcon="heroicons_outline:pencil"  class="justify-center text-blue-600 cursor-pointer"></mat-icon>
                            <mat-icon svgIcon="heroicons_outline:trash" class="justify-center text-red-600 cursor-pointer"></mat-icon>

                    </div>
                </ng-template>
            </mat-tab>

            <mat-tab label="CREAR USUARIOS">
                <ng-template matTabContent>
                    <div class="grid w-full min-w-0">
                        <div class="flex flex-col w-11/12 p-8 pb-4 mt-8 overflow-hidden shadow bg-card rounded-2xl">
                            <h3 class="text-xl font-bold text-center">CREAR USUARIO</h3>
                            <div class="flex flex-col gt-xs:flex-row">
                                <mat-form-field [ngClass]="formFieldHelpers" class="flex-auto gt-xs:pr-3">
                                    <mat-label>NOMBRES</mat-label>
                                    <input matInput>
                                </mat-form-field>
                                <mat-form-field [ngClass]="formFieldHelpers" class="flex-auto gt-xs:pl-3">
                                    <mat-label>APELLIDOS</mat-label>
                                    <input matInput>
                                </mat-form-field>
                            </div>
                            <div class="flex">
                                <mat-form-field [ngClass]="formFieldHelpers" class="flex-auto fuse-mat-textarea">
                                    <mat-label>CARGO</mat-label>
                                    <textarea matInput [rows]="3" matTextareaAutosize></textarea>
                                </mat-form-field>
                            </div>
                            <div class="flex flex-col gt-md:flex-row">
                                <mat-form-field [ngClass]="formFieldHelpers" class="flex-auto gt-md:pr-3">
                                    <mat-label>USUARIO</mat-label>
                                    <input matInput>
                                </mat-form-field>
                                <mat-form-field [ngClass]="formFieldHelpers" class="flex-auto gt-md:pl-3">
                                    <mat-label>CONTRASEÑA</mat-label>
                                    <input matInput>

                                </mat-form-field>
                                <mat-form-field [ngClass]="formFieldHelpers" class="flex-auto gt-md:pl-3">
                                    <mat-label>REPETIR CONTRASEÑA</mat-label>
                                    <input matInput>

                                </mat-form-field>
                            </div>
                            <div class="flex justify-center">
                                <button class="px-8 mx-2" mat-flat-button [color]="'warn'" type="button">
                                    CANCELAR
                                </button>
                                <button class="px-8 mx-2" mat-flat-button [color]="'primary'" type="button">
                                    CREAR
                                </button>
                            </div>
                        </div>
                    </div>
                </ng-template>
            </mat-tab>
        </mat-tab-group>
    </div>
</div>
