<div class="flex flex-col flex-auto min-w-0">

    <!-- Main -->
    <div class="flex-auto p-6 sm:p-10">

        <!-- CONTENT GOES HERE -->
        <div class="p-4 border-2 border-gray-700 border-dashed rounded-2xl">
            
          <form fxLayout="column" [formGroup]="validatingForm">
<!-- inicio -->
<div class="flex flex-col flex-auto min-w-0 p-4 bg-orange-100">
  
    <div class="row justify-content-center">
      <div class="pageA4 elevation " id="imprimirpfg">
        <div class="pb-2 cabezara">
          <img [src]="imagen" alt="">
        </div>
        <div class="cuerpo">
          <div class="flex">
  
            <div style="display:flex;" class="hed col-6">
              <label class="fuerte"  >PARTE N°:</label>
              <input class="linea0" formControlName="nroparte" name="nroparte" />
            </div>
            <p class="col-6"> - <strong class="fuerte">MDAACD-AYACUCHO</strong></p>
          </div>
           <div style="display:flex;" class="hed">
            <label class="fuerte"  for="receptor">SEÑOR:</label>
            <input class="linea1" id="receptor" name="receptor"  formControlName="receptor" />
          </div>
          <div style="display:flex;" class="hed">
              <label class="fuerte">ASUNTO:</label>
              <input type="text" class="linea2"
                     placeholder="Buscar Asunto"
                     [matAutocomplete]="auto"
                     formControlName="incidencia">
              <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete">
                <mat-option *ngFor="let option of filteredOptions | async" [value]="option" #valore (click)="selecctionOption(validatingForm.value)">
                  {{option.descripcion}}
                </mat-option>
              </mat-autocomplete>

          </div>
          <div style="display:flex;" class="hed">
            <label class="fuerte"  for="Referencia">REFERENCIA:</label>
            <input class="linea3" id="Referencia"  name="referencia" formControlName="referencia" />
          </div>
          <div style="display:flex;" class="hed">
            <label class="fuerte" for="turno">SERVICIO/TURNO:</label>
            <select [value]="'all'" formControlName="turno" >
              <!-- <option [value]="'all'">TODOS</option> -->
              <ng-container *ngFor="let category of turno">
                  <option [value]="category.slug">{{category.title}}
                  </option>
              </ng-container>
          </select>
            <!-- <input class="linea4" id="turno" name="turno" formControlName="turno"     /> -->
          </div>
          <div class="flex">
            <div style="display:flex;" class="hed">
              <label class="fuerte" for="turno">LUGAR DE INCIDENCIA:</label>
              <input class="linea5" id="turno" name="turno" formControlName="lugar"     />
            </div>
            <div style="display:flex;" class="hed">
              <!-- <mat-form-field class="w-full fuse-mat-no-subscript sm:w-36"> -->
                <label class="fuerte" for="turno">SECTOR:</label>
                <select [value]="'all'" formControlName="sector" >
                    <!-- <option [value]="'all'">TODOS</option> -->
                    <ng-container *ngFor="let category of categories">
                        <option [value]="category.slug">{{category.title}}
                        </option>
                    </ng-container>
                </select>
            <!-- </mat-form-field> -->
              <!-- <input class="linea0" id="turno" name="turno" formControlName="sector"     />  -->
            </div>
          </div>
          <div style="display:flex;">
            <div class="time">
              <label class="fuerte" for="hora">Siendo las </label>
              <input class="peque" id="hora" formControlName="hora" name="hora" />
            </div>
            <div class="time">
              <label class="fuerte"  for="fregistro">Horas del día:</label>
              <input type="date" class="peque" id="fregistro" formControlName="fregistro" name="fregistro" />
            </div>
          </div>
          <textarea name="grande" id="contenido" cols="85" formControlName="contenido" rows="14" (click)="verFecha = true;"></textarea>
          <p class="fuerte">Lo que se da cuenta para afines de ley</p> 
        </div>
        <div class="pie">
          <p class="fuerte izquierda">      
          Andres Avelino Cáceres Dorregaray {{fecha | date:'dd'}} de {{fecha|date:'MM'| mes}} del {{fecha|date:'yyyy'}}
          </p>
        </div>
        <div class="centro">
          <p class="firma"></p>
          <p class="fuerte">David Sulca García <br>DNI: 46288952 <br>Cargo: GERENTE DE DESARROLLO </p>
        </div> 
      </div>
    </div>
    
  </div>
  <div class="md:flex">
    <div class="p-16 m-0" fxLayout="row" fxLayoutAlign="end center">

      <!-- <button *ngIf="action === 'edit'" mat-button class="mr-8" mat-raised-button type="submit" color="warn"
          (click)="generarDocumento(validatingForm.value)" aria-label="Delete" matTooltip="Delete">
          ELIMINAR
      </button> -->
      <a href="watana:?url_logo=http://localhost:8080/file/descarga/logo.png&url_descarga=http://localhost/source/docs/actaprint.pdf&url_subida=http://localhost/source/subir/subir.php?name=inicidencia.pdf&firma_pagina=1&firma_x=20&firma_y=100&firma_largo=180&firma_alto=250&firma_texto=%3CFIRMANTE%3E%0A%3CORGANIZACION%3E%0AFecha%3A%20%3CFECHA%3E%0A%0AFirmado%20en%3A%20softinge.com" class="save-button"
      mat-raised-button type="submit" color="accent">Firmar</a>

      <button *ngIf="action !== 'edit'" mat-button class="save-button" mat-raised-button type="submit" color="accent"
          (click)="generarDocumento(validatingForm.value)" [disabled]="validatingForm.invalid"
          aria-label="SAVE">
          REGISTRAR
      </button>
      <button *ngIf="action === 'edit'" mat-button class="save-button" mat-raised-button type="submit" color="accent"
          (click)="generarDocumento('edit',validatingForm.value)" [disabled]="validatingForm.invalid"
          aria-label="SAVE">
          EDITAR
      </button>
      <button  mat-button class="save-button mf-3" mat-raised-button type="button"  color="warn" routerLink='/example'>
      CANCELAR
  </button>
  </div>
  </div>
</form>

</div>
</div>
</div>