<div class="flex flex-col flex-auto min-w-0">

    <!-- Main -->
    <div class="flex-auto p-6 sm:p-10">

        <!-- CONTENT GOES HERE -->
        <div class="border-2 border-gray-300 border-dashed h-400 min-h-400 max-h-400 rounded-2xl">

            <!-- inicio -->
            <div class="flex flex-col flex-auto min-w-0">

                <!-- Header -->
                <div class="bg-card">
                    <div class="flex flex-col w-full max-w-screen-xl px-6 mx-auto sm:px-8">
                        <div class="flex flex-col flex-auto min-w-0 my-8 sm:flex-row sm:items-center sm:my-12">
                            <!-- Avatar and name -->
                            <div class="flex items-center flex-auto min-w-0">
                                <div class="w-16 h-16 overflow-hidden rounded-full flex-0">
                                    <img class="object-cover w-full h-full"
                                        src="assets/images/avatars/brian-hughes.jpg">
                                </div>
                                <div class="flex flex-col min-w-0 ml-4">
                                    <ng-container *transloco="let t">
                                        <div
                                            class="text-2xl font-semibold leading-7 tracking-tight truncate md:text-5xl md:leading-snug">
                                            BIENVENIDO!</div>
                                    </ng-container>
                                    <div class="flex items-center">
                                        <mat-icon class="icon-size-5" [svgIcon]="'heroicons_solid:bell'"></mat-icon>
                                        <div class="ml-1.5 leading-6 truncate text-secondary">Tienes 2 Actas sin firmar
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- Actions -->
                            <div class="flex items-center mt-6 space-x-3 sm:mt-0 sm:ml-2">
                                <button routerLink="/example/Incidencias" class="fuse-mat-button-rounded bg-accent-700"
                                    mat-flat-button [color]="'accent'">
                                    <mat-icon class="icon-size-5" [svgIcon]="'heroicons_solid:plus-sm'"></mat-icon>
                                    <span class="ml-2">AGREGAR INCIDENCIA</span>
                                </button>
                                <!-- <button class="fuse-mat-button-rounded" mat-flat-button [color]="'primary'">
                                    <mat-icon class="icon-size-5" [svgIcon]="'heroicons_solid:search'"></mat-icon>
                                    <span class="ml-2">BUSCAR INICIDENCIA</span>
                                </button> -->
                            </div>
                        </div>
                        <!-- Project selector -->
                    </div>
                </div>

                <!-- Main -->
                <div class="flex-auto pt-4 -mt-px border-t sm:pt-6">
                    <div class="w-full max-w-screen-xl mx-auto">
                        <!-- Tabs -->
                        <mat-tab-group class="sm:px-2" [animationDuration]="'0'">
                            <!-- Budget -->
                            <mat-tab label="LISTA DE ACTAS SIN FIRMAR">
                                <ng-template matTabContent>
                                    <div class="grid w-full min-w-0">


                                    </div>
                                </ng-template>
                            </mat-tab>
                            <!-- Home -->
                            <mat-tab label="LISTA DE ACTAS FIRMADAS">
                                <ng-template matTabContent>
                                    <div class="grid w-full min-w-0">

                                        <div class="flex flex-auto p-6 sm:p-10">

                                            <div class="flex flex-col flex-auto w-full max-w-xs mx-auto sm:max-w-5xl">
                                                <div
                                                    class="flex flex-col items-center justify-between w-full max-w-xs sm:flex-row sm:max-w-none">
                                                    <mat-form-field class="w-full fuse-mat-no-subscript sm:w-36 md:w-60">
                                                        <mat-select [value]="'all'"
                                                            (selectionChange)="filterListTipo($event.value)">
                                                            <mat-option [value]="'all'">TODOS LOS SECTORES</mat-option>
                                                            <ng-container
                                                                *ngFor="let category of categories; trackBy: trackByFn">
                                                                <mat-option [value]="category.slug">{{category.title}}
                                                                </mat-option>
                                                            </ng-container>
                                                        </mat-select>
                                                    </mat-form-field>
                                                    <mat-form-field
                                                        class="w-full mt-4 fuse-mat-no-subscript sm:w-72 sm:mt-0 sm:ml-4"
                                                        [floatLabel]="'always'">
                                                        <mat-icon matPrefix class="icon-size-5"
                                                            [svgIcon]="'heroicons_solid:search'"></mat-icon>
                                                        <input placeholder="Buscar incidencia" matInput
                                                            [(ngModel)]="tern">
                                                    </mat-form-field>
                                                </div>
                                                <ng-container *ngIf="mostrar">
                                                    <div
                                                        class="grid grid-cols-1 gap-8 mt-8 sm:grid-cols-2 lg:grid-cols-3 sm:mt-10">
                                                        <ng-container
                                                            *ngFor="let course of listFilter |filter:tern; trackBy: trackByFn">
                                                            <div
                                                                class="flex flex-col overflow-hidden shadow h-100 rounded-2xl bg-card">
                                                                <div class="flex flex-col p-6">
                                                                    <div class="flex items-center justify-between">
                                                                        <ng-container>
                                                                            <div class="text-sm font-semibold rounded-full">
                                                                                N° {{course.nroparte}}
                                                                            </div>
                                                                            <div class="py-0.5 px-3 rounded-full text-sm font-semibold"
                                                                                [ngClass]="{'text-blue-800 bg-blue-100 dark:text-blue-50 dark:bg-blue-500': course.sector === 'I',
                                                    'text-green-800 bg-green-100 dark:text-green-50 dark:bg-green-500': course.sector === 'II',
                                                    'text-pink-800 bg-pink-100 dark:text-pink-50 dark:bg-pink-500': course.sector === 'III',
                                                    'text-amber-800 bg-amber-100 dark:text-amber-50 dark:bg-amber-500': course.sector === 'IV'}">
                                                                               SECTOR {{course.sector}} 
                                                                            </div>
                                                                        </ng-container>
                                                                    </div>
                                                                    <!-- <div class="mt-4 text-lg font-medium">
                                                                        {{course.incidencia.descripcion}}</div> -->
                                                                    <div
                                                                        class="mt-0.5 text-sm font-medium text-blue-500">
                                                                        {{course.turno}}</div>
                                                                    <div
                                                                        class="mt-0.5 text-sm font-medium text-blue-400">
                                                                        {{course.referencia}}</div>
                                                                    <div class="mt-0.5 line-clamp-5 text-secondary">
                                                                        {{course.contenido}}
                                                                    </div>


                                                                    <div
                                                                        class="flex items-center leading-5 text-md text-secondary">
                                                                        <mat-icon class="icon-size-5 text-hint"
                                                                            [svgIcon]="'heroicons_solid:clock'">
                                                                        </mat-icon>
                                                                        <div class="ml-1.5">{{course.hora}}
                                                                        </div>
                                                                    </div>

                                                                    <div
                                                                        class="mt-0.5 text-sm font-medium text-blue-500">
                                                                        {{course.receptor}}</div>

                                                                </div>
                                                                <div class="grid w-full px-5 py-2 mt-auto" style="grid-template-columns: 80% 20%;">
                                                                    <button mat-button class="save-button"
                                                                        mat-raised-button type="submit" color="accent"
                                                                        (click)="generarDocumento(course)">
                                                                        VER INCIDENCIA
                                                                    </button>
                                                                    <mat-icon svgIcon="heroicons_outline:trash" (click)="deleteIncidencia(course)" class="justify-center cursor-pointer text-red-600"></mat-icon>

                                                                </div>
                                                            </div>
                                                        </ng-container>
                                                    </div>
                                                </ng-container>
                                            </div>
                                        </div>
                                    </div>
                                </ng-template>
                            </mat-tab>                            

                            <!-- Team -->
                            <mat-tab label="FIRMAR">
                                <ng-template matTabContent>
                                    <div  class="grid w-full min-w-0 grid-cols-1 gap-6 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4">
                                        
                                        <a href="watana:?url_logo=http://localhost:8080/file/descarga/logo.png&url_descarga=http://localhost/source/docs/incidencia-002.pdf&url_subida=http://localhost/source/subir/subir.php?name=inicidencia.pdf&firma_pagina=1&firma_x=20&firma_y=100&firma_largo=180&firma_alto=250&firma_texto=%3CFIRMANTE%3E%0A%3CORGANIZACION%3E%0AFecha%3A%20%3CFECHA%3E%0A%0AFirmado%20en%3A%20softinge.com" class="save-button"
                                        mat-raised-button type="submit" color="accent">Firmar</a>

                                    </div>
                                </ng-template>
                            </mat-tab>

                        </mat-tab-group>
                    </div>
                </div>

            </div>

            <!-- inicio fin -->




        </div>

    </div>

</div>



