<div class="flex flex-col flex-auto min-w-0">

    <div class="flex-auto p-6 sm:p-10">

        <div class="p-4 border-2 border-gray-700 border-dashed rounded-2xl">
            
<div class="flex flex-col flex-auto min-w-0 p-4 bg-orange-100">


        <div class="pageA4 elevation " id="imprimirpfg">
            <div class="pb-2 cabezera">
                <div>
                    
                </div>
            </div>
            <div class="cuerpo">
                <p> <strong class="fuerte">PARTE N° </strong> <strong class="raya">{{parte.nroparte}}</strong>  - <strong class="fuerte">MDAACD-AYACUCHO</strong></p>
                <p> <strong class="fuerte">SEÑOR: </strong> <strong class="raya">{{parte.receptor}}</strong>  </p>
                <p> <strong class="fuerte">ASUNTO: </strong> <strong class="raya">{{parte.incidencia}}</strong>  </p>
                <p> <strong class="fuerte">REFERENCIA: </strong> <strong class="raya">{{parte.referencia}}</strong>  </p>
                <p> <strong class="fuerte">SERVICIO/TURNO: </strong> <strong class="raya">{{parte.turno}}</strong>  </p>
                <p><strong class="fuerte">LUGAR: </strong> <strong class="raya">{{parte.referencia}} &nbsp;&nbsp;&nbsp;   </strong> <strong class="fuerte">  SECTOR DE INCIDENCIA: </strong> <strong class="raya">{{parte.sector}}</strong>  </p>
               <p class="cuerpo">
                  Siendo las {{parte.hora}} del {{parte.fecha | date:'dd': '+0530'}} de {{parte.fecha |date:'MM': '+0530'| mes}} del {{parte.fecha |date:'yyyy'}} {{parte.contenido}}
                </p>
                <p class="fuerte">Lo que se da cuenta para fines de ley</p>
            </div>
            <div class="pie">
                <p class="fuerte izquierda">
                  <!-- <div class="fuerte izquierda">
                    <label class="fuerte" for="fecha">Andres Avelino Cáceres Dorregaray:</label>                    
                </div>  -->
                    Andres Avelino Cáceres Dorregaray {{hoy | date:'dd': '+0530'}} de {{hoy |date:'MM': '+0530'| mes}} del {{hoy |date:'yyyy'}}
                </p>
            </div>
            <div class="centro">
                <p class="firma"></p>                
                <p class="nombrs">David Sulca García<br>DNI: 46288952  <br>Cargo: GERENTE DE DESARROLLO </p>
                
            </div>

        </div>
    </div>
    <div class="md:flex">
        <div class="p-16 m-0" fxLayout="row" fxLayoutAlign="end center">    
          <button  mat-button class="mr-8" mat-raised-button type="submit" color="warn" aria-label="Delete" routerLink="/example" matTooltip="Delete">
            SALIR
          </button>
          <button  mat-button class="save-button" mat-raised-button type="submit" color="accent" (click)="createPDF()">
            DESCARGAR
          </button>    
          <button  mat-button class="save-button" mat-raised-button type="submit" color="accent" (click)="firmarDocumento()">
            CARGAR
          </button>    
              <!-- <a  href="watana:?url_logo=http://localhost:8080/file/descarga/logo.png&url_descarga=http://localhost/source/docs/actaprint.pdf&url_subida=http://localhost/source/subir/subir.php?name=inicidencia.pdf&firma_pagina=1&firma_x=150&firma_y=80&firma_largo=300&firma_alto=100&firma_texto=%3CFIRMANTE%3E%0A%3CORGANIZACION%3E%0AFecha%3A%20%3CFECHA%3E%0A%0AFirmado%20en%3A%20Watana.com" class="save-button"
              mat-raised-button type="submit" color="accent">
              Firmar</a> -->
              <a *ngIf="mostarEtqueta" [href]="sanitizeImageUrl(imprimir)"  class="save-button"
              mat-raised-button type="submit" color="accent">Firmar
            </a>
      </div>
      </div>
</div>
</div>
</div>
